{% extends 'layout.html'%}
{% block body %}
                <div class="entry-page">
                    <button class="bt"><a href="{{url_for('create_entry')}}">Add Entry</a></button>
                    <table>
                        <tr>
                            <th>Meeting</th>
                            <th>Date</th>
                            <th>Description</th>
                            <th>View</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        <tr>
                                <td>Meeting</td>
                                <td>12/07/2018</td>
                                <td>Going for a meeting.</td>
                                <td><a href="{{url_for('entry_details')}}">View</a></td>
                                <td><a href="#">Edit</a></td>
                                <td><a href="#">Delete</a></td>
                        </tr>
                        <tr>
                                <td>Meeting</td>
                                <td>12/07/2018</td>
                                <td>Going for a meeting.</td>
                                <td><a href="{{url_for('entry_details')}}">View</a></td>
                                <td><a href="#">Edit</a></td>
                                <td><a href="#">Delete</a></td>
                        </tr>
                        <tr>
                                <td>Meeting</td>
                                <td>12/07/2018</td>
                                <td>Going for a meeting.</td>
                                <td><a href="{{url_for('entry_details')}}">View</a></td>
                                <td><a href="#">Edit</a></td>
                                <td><a href="#">Delete</a></td>
                        </tr>
                        <tr>
                                <td>Meeting</td>
                                <td>12/07/2018</td>
                                <td>Going for a meeting.</td>
                                <td><a href="{{url_for('entry_details')}}">View</a></td>
                                <td><a href="#">Edit</a></td>
                                <td><a href="#">Delete</a></td>
                        </tr>
                        <tr>
                                <td>Meeting</td>
                                <td>12/07/2018</td>
                                <td>Going for a meeting.</td>
                                <td><a href="{{url_for('entry_details')}}">View</a></td>
                                <td><a href="#">Edit</a></td>
                                <td><a href="#">Delete</a></td>
                        </tr>
                    </table>
                </div>    
{% endblock %}